@font-face {
  font-family: 'IconFont';
  src: url('/fonts/FontAirhelp.woff') format('woff');
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-BlackItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FontAirhelp';
  src: url('/fonts/lab-grotesque/LabGrotesque-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}