name: Run unit tests

on:
  pull_request:
    types: [opened, reopened, edited]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Use Node.js v20.11.0 (LTS)
        uses: ./.github/actions/setup-node-environment
        with:
          node-version: 20.11.0

      - name: Run tests
        run: pnpm test
